*{
    padding: 0;
    margin: 0;
}
@font-face {
    font-family: rubik;
    src: url(../fuentes/Rubik-VariableFont_wght.ttf);
}
body{
    color:rgb(184, 184, 184);
    font-family: rubik;
    src: url(../fuentes/Rubik-VariableFont_wght.ttf);
    background-color: rgb(0, 0, 0);
}
a{
    background-color: transparent;
    text-decoration: none;
    color: aliceblue;
    font-family: rubik;
    src: url(../fuentes/Rubik-VariableFont_wght.ttf);
}
ul{
    margin: 20px;
    display: flex;
    padding: 10px;
    justify-content: space-evenly;
    text-decoration: none;
}
header{
    position: sticky; top:0;
    background-color: black;
}

/*menu navegacion*/
.navbar-expand-lg{
    background-color: rgb(33, 33, 33);
}
.navbar-brand{
    color: #fff;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: space-evenly;
    font-size:1.3rem;
}
.navbar-expand-lg .navbar-collapse li{
   margin-right: 40px;
}
.navbar-expand-lg .navbar-collapse a{
    color: #fff;
}
.navbar-toggler:hover {
    background: #ffffff;
}

------------------------------------------
/*index*/
.hevi img{
    width:100%;
  }
------------------------------------------
/*Nosotros*/
.nosotros{
    text-align: center;
    margin-inline: 10%;
    margin-top: 5%;
}
.redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
}
.nosotros h1{
    font-size: 400%;
}
.nosotros h2{
    font-size: 250%;
}
.nosotros p{
    font-size: 20px;
}
-----------------------------------------
/*Proyecto*/
.proyecto h2{
    font-size: 350%;
    text-align: center;
}
.proyecto p{
    text-align: center;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
}
.grid{
    display: grid;
    margin: 5%;
    gap: 15px;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto;
    grid-template-areas:
    'area1 area7 area3'
    'area4 area8 area6'
    'area2 area5 area10'
    'area9 area9 area10'
    ;
   
}
.img1{
    grid-area: area1;
}
.img2{
    grid-area: area2;
}
.img3{
    grid-area: area3;
}
.img4{
    grid-area: area4;
}
.img5{
    grid-area: area5;
}
.img6{
    grid-area: area6;
}
.img7{
    grid-area: area7;
}
.img8{
    grid-area: area8;
}
.img9{
    grid-area: area9;
}
.img10{
    grid-area: area10;
}
.proyecto img{
    width: 350px;
}

---------------------------------------------

/*Productos*/
  .productos{
    display: flex;
    justify-content:space-evenly;
    margin-top: 5%;
  }
  .productos div{
    display: inline-table;
  }
  /*.productos div img{
    padding: 5%;
  }*/
  .h2productos{
    font-size: 350%;
    margin: 2%;
  }
   .productos img{
   width: 350px;
   padding: 5%;
   display: flex;
   justify-content: space-evenly;
 }
 .productos p{
    text-align:center;
    margin: 10px;
    font-size: 120%;
 }
 .cadena{
    align-items: center;
 }
 .productos button{
    margin: 10px;
    align-items: center;
 }
-------------------------------------------

 /*Ideas*/
 .texto-ideas{
    font-size: 250%;
    margin-left: 50px;
 }
 .ideas{
    font-size: 150%;
    margin: 50px;
    padding: 10px;
    border-style:groove;
    border-color:rgb(123, 131, 138)
 }
 .ideas div input{
    font-size:large;
 }
 .ideas button{
    margin: 3%;
    display:inline-block;
 }
 .ideas input{
    margin: 1%;
    border-style: groove;
    border-width: 5px;
 }
-------------------------------------------

 /*RESPONSIVE*/

 
     /*celu*/
     @media only screen and (max-width: 576px){

        header{
            flex-direction: column;
        }
        button{
            margin: 1%;
        }
        

        .hevi img{
            width: 100%;
			background-size:cover;
        }

        /*proyecto*/
        .grid{
            display:grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            gap: 15px;
            grid-template-areas:
            'area1 area2'
            'area3 area4'
            'area7 area6'
            'area5 area10'
            'area8 area10'
            'area9 area9'
         ;
        }
        
        .proyecto img{
            width: 100%;
        }

        /*Nosotros*/
        .nosotros h1{
            font-size: 200%;
            margin-left: 5%;
        }
        .nosotros h2{
            font-size: 150%;
            margin: 5%;
        }
        .nosotros p{
            font-size: 100%;
            text-align: center;
            margin: 5%;
            padding: 3%;
        }



        /*productos*/
        .productos{
            flex-direction: column;
        }
        .h2productos{
            font-size: 300%;
            text-align: center;
        }
        .productos div{
            margin: 5px;
            background-color: #393939;
        }
        .productos img{
            margin: 2%;
            float: left;
        }
        /*Ideas*/
       .ideas div label{
        font-size:xx-large;
       }
       .ideas div input{
        font-size: large;
       }
        }