$tipo: primary;

.h1ideas{
   background-size: cover;
   background-position: center;
   
   @if $tipo == primary{
      background-image: url(../imagenes/fondoideas.jpg);
  }@else if $tipo == secondary{
          background-image: url(../imagenes/ideas2.jpg)
      } @else {
          background-image: url(../imagenes/ideas3.jpg);
      }
}
.texto-ideas{
    font-size: 250%;
    margin-left: 50px;
    color: $letras;
 }
.h1ideas h1{
   font-size: 3.3rem;
   text-align: center;
   padding-top: 3%;
   color: $letras;
}
 .ideas{
   color: $letras;
   background-color: $main-color;
   opacity: 0.9;
    font-size: 150%;
    margin: 12%;
    margin-top: 3%;
    padding: 5%;
  
    div input{
      font-size:large;
      margin: 2%;
    }
    button{
      margin-top: 15%;
      padding: 1.3rem;
      color: $letras;
   }
 }
 textarea {
    display: inline-table;
    resize: vertical;
    width: auto;
    margin-bottom: -25%;
}
