.hevi{
  div{
    background-image: url(../imagenes/hevi.jpg);
    background-size: cover;
    background-position: center;
    width: auto;
    height: 1200px;
  }
 
  }
  footer{
    background-image: url(../imagenes/footer.jpg);
    background-size: cover;
   background-position: center;
   padding: 3%;
  }
  