$tipo: erqwrq;

.nosotros{
    background-size: cover;
    background-position: center;
    
    @if $tipo == primary{
       background-image: url(../imagenes/fondoideas.jpg);
   }@else if $tipo == secondary{
           background-image: url(../imagenes/ideas2.jpg)
       } @else {
           background-image: url(../imagenes/ideas3.jpg);
       }

    padding-inline: 10%;
    padding: 5%;
    h1{
        font-size: 400%;
        text-align: center;
        color: $letras;
    }
    h2{
        font-size: 250%;
        margin-left:4%;
        margin-right: 4%;
        margin-bottom: 3%;
        text-align: center;
        color: $letras;
}
p{
    font-size: 20px;
    margin-left: 3%;
    margin-right: 3%;
    color: $letras;
}
}
.redes{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10%;
    .a{
        color: $letras;
    }
}