.proyecto{
    background-image: url(../imagenes/fondoideas.jpg);
    background-size: cover;
    background-position: center;

    h2{
        font-size: 350%;
        text-align: center;
        padding-top: 3%;
        color: $letras;
    }
    p{
        text-align: center;
        margin-top: 2%;
        margin-left: 4%;
        margin-right: 4%;
        color: $letras;
    }
    img{
        width: 100%;
        height: 90%;
    }
} 
.grid{
    display: grid;
    background-color: $main-color;
    margin: 5%;
    padding: 2%;
    gap: 15px;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: auto;
    grid-template-areas:
    'area1 area7 area3'
    'area4 area8 area6'
    'area2 area5 area10'
    'area9 area9 area10'
    ;
   
}
.img1{
    grid-area: area1;
}
.img2{
    grid-area: area2;
}
.img3{
    grid-area: area3;
}
.img4{
    grid-area: area4;
}
.img5{
    grid-area: area5;
}
.img6{
    grid-area: area6;
}
.img7{
    grid-area: area7;
}
.img8{
    grid-area: area8;
}
.img9{
    grid-area: area9;
}
.img10{
    grid-area: area10;
}
